/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {box-sizing: border-box;}
:root {
  --red: #db5461;
  --green: #93a490;
  --blue: #3d5467;
  --yellow: #ffd131;
  --orange: #ff9f1c;
  --white: #f5f5f5;
  --black: #1B2021;
}
html {
  font-size: 16px;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  background-color: var(--green);
}
body {
/*  background-color: var(--green);*/
  color: var(--white);
  text-align: center;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}
#bg-img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -99;
  background: url(../img/bg-blur.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: var(--green);
  filter: grayscale(10%);
  background-blend-mode: multiply;
}
main {
  padding: 32vh 0 0 0;
}
main.interior {
  padding: 50px 100px;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}
main.interior div.left {
  grid-column: 1 / 2;
}
main.interior div.right {
  width: 100%;
  height: 800px;
  background: url(../img/preorder.jpeg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  grid-column: 2 / 3;
}
main.interior div.right img {
  width: 100%;
}
button {
  margin: 25px 0 0;
  border: 2px solid var(--white);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300px;
  background-color: var(--green);
  color: var(--white);
  padding: 7px 10px;
}
.image {
  margin: 25px 0 50px;
}
header {
  background-color: var(--white);
  color: var(--green);
  padding: 15px 100px;
  text-align: left;
}
header p {
  text-transform: uppercase;
  letter-spacing: 1px;
}
footer {
  width: 100vw;
  padding: 15px 0;
  background-color: var(--green);
  position: absolute;
  top: 100vh;
}
footer.interior {
  width: 100vw;
  padding: 15px 0;
  background-color: var(--white);
  position: initial;
  top: initial;
}
footer p {
  font-family: linotype-sabon, sans-serif;
  font-weight: 400;
  font-style: italic;
}
aside {
  width: 100vw;
  padding: 10px 0 13px;
  background-color: peachpuff;
  position: absolute;
  top: 0;
}
aside p {
  font-family: linotype-sabon, sans-serif;
  font-weight: 400;
  font-style: italic;
  color: var(--black);
  margin: 0;
}
header a, header a:link, header a:visited {
  color: var(--green);
  text-decoration: none;
  border-bottom: none;
  transition: none;
}
header a:hover, header a:active {
  color: var(--green);
  text-decoration: none;
  border-bottom: none;
}
aside a, aside a:link, aside a:visited {
  color: var(--black);
  text-decoration: none;
  border-bottom: 1px solid var(--black);
  transition: border-bottom .5s ease;
}
aside a:hover, aside a:active {
  color: var(--black);
  text-decoration: none;
  border-bottom: 1px solid var(--red);
}
a, a:link, a:visited {
  color: var(--white);
  text-decoration: none;
  border-bottom: 1px solid var(--blue);
  transition: color .5s ease;
}
a:hover, a:active {
  color: var(--blue);
  text-decoration: none;
  border-bottom: 1px solid var(--blue);
}
footer.interior a, footer.interior a:link, footer.interior a:visited {
  color: var(--green);
  text-decoration: none;
  border-bottom: 1px solid var(--green);
  transition: color .5s ease;
}
footer.interior a:hover, footer.interior a:active {
  color: var(--blue);
  text-decoration: none;
  border-bottom: 1px solid var(--blue);
}
.image a, .image a:link, .image a:visited {
  color: var(--white);
  text-decoration: none;
  border-bottom: none;
  transition: color .5s ease;
}
.image a:hover, .image a:active {
  color: var(--yellow);
  text-decoration: none;
  border-bottom: none;
}
h1 {
  margin: 0;
  font-size: 6rem;
  font-weight: 200;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: .5px;
}
h2 {
  margin: 0;
  font-family: linotype-sabon, sans-serif;
  font-size: 3rem;
  font-style: italic;
  font-weight: 200;
}
h3 {
  font-family: linotype-sabon, sans-serif;
  font-weight: 400;
  font-style: italic;
  margin: 0;
  font-size: 2rem;
/*  font-weight: 300;*/
  text-transform: lowercase;
  letter-spacing: 1px;
}
p {
  font-size: 1.2rem;
  font-weight: 300;
}
p.intro {
  font-size: 1.6rem;
  font-weight: 200;
  letter-spacing: .5px;
  font-style: italic;
}
svg {
  fill: var(--white);
}
hr {
  border: none;
  border-bottom: 3px solid var(--white);
  width: 50vw;
  margin: 50px auto;
}

/*form styles*/
#form {
  width: 450px;
  margin: 0 -28px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 1525px) {
  main {
    padding: 32vh 5vw 0;
  }
  footer {
    padding: 15px 0;
  }
  h1 {
    font-size: 4.5rem;
    line-height: 1;
    margin-bottom: 15px;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.2rem;
  }
  hr {
    width: 75vw;
    margin: 50px auto;
  }
}

@media only screen and (max-width: 1200px) {
  main {
    padding: 25vh 12.5vw 0;
  }
  header {
    padding: 15px 50px;
  }
  main.interior {
    padding: 50px 50px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 50px;
  }
  main.interior div.left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  main.interior div.right {
    background-position: center -200px;
    height: 400px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  main.interior div.right img {
    width: 100%;
  }
  footer {
    padding: 15px 0;
  }
  h1 {
    font-size: 5rem;
    line-height: 1.1;
    margin-bottom: 15px;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.2rem;
  }
  hr {
    width: 75vw;
    margin: 50px auto;
  }
}
@media only screen and (max-width: 900px) {
  main.interior div.right {
    background-position: center -100px;
  }
}
@media only screen and (max-width: 600px) {
  header {
    padding: 15px 15px;
  }
  main {
    padding: 18vh 15px 0;
  }
  main.interior {
    padding: 15px 15px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 50px;
  }
  main.interior div.right {
    background-position: center -50px;
  }
  footer {
    padding: 15px 0;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1rem;
  }
  hr {
    width: calc(100vw - 30px);
  }
  #form {
    width: 100%;
    margin: 0;
  }
}
  @media only screen and (max-width: 499px) {
  main {
    padding: 18vh 15px 0;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

